*/.ipynb_checkpoints
data_crawl/data/*
keras_face/demo/
*.zip
*.tar
*.jpg
*.png
./data_crawl/text_data/
./TF-IDF/data/*
./TF-IDF/res/*
!./TF-IDF/data/stop_word.txt
*/unpackage
*/*.jpg
unpackage
!baby_back_frontpage/src/assets/*
!baby_back_frontpage/src/assets/**/*
!baby_back_frontpage_mobile/static/*
!baby_back_frontpage_mobile/static/**/*

**/.DS_Store/*
.DS_Store
Thumbs.db

**/.idea/*
**/.settings/*
**/.project
**/.classpath
**/.factorypath
**/target/*
**/*.iml


**/logs/*
/baby_back_frontend/data/res
