*/.ipynb_checkpoints
data_crawl/data/*
keras_face/demo/
*.zip
*.tar
*.jpg
*.png
./data_crawl/text_data/
./TF-IDF/data/*
./TF-IDF/res/*
!./TF-IDF/data/stop_word.txt
*/unpackage
*/*.jpg
baby_back_frontpage_mobile\unpackage